*{
  margin: 0;
  padding: 0;
}

#conteudoPDF{
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items:start;
}

h1{
    font-style:italic;
   
    text-align:center;
    padding: 2px;
    position:static;
    color:#4C6173 ; 
    align-content:center;
    
    
    }
    h2{
        font-style:italic;
        font-size: 0.875em;
        text-align:center;
        padding: 2px;
        position: relative;
       
        color:#4C6173 ; 
        align-content: center;
        
    }
          
    h3{
       font-style:italic;
       text-align:q;
       padding: 2px;
       position: relative;
       font-size: 0.75em;
      color:#4C6173 ; 
      align-content: center;


}
p{
    font-style:italic;
   
    text-align:left;
    padding: 0px;
    position: relative;
    font-size: 0.75em;
   color:#2b363f ; 
   align-content:baseline;

}
#cli{

  background-color:#B1C2D5;
  border-radius: 6px;
  font-size: 0.875em;
  padding: 5px;
  border-right:5px;
  width: 40%;
  height: 25px;

}

.ob{
        font-style:italic;
        font-size:large;
        text-align:center;
        padding: 5px;
        position: relative;
        background-color:#074483;
        color:whitesmoke;
        align-content: center;
    }
    img{
      
        flex-wrap:wrap;

        position:relative;
        top: 20px;
        width: 8%;
        height:16%;
        display:grid;
        color: #00136c;
        
        justify-content:left;
        align-items:initial;
        transition:.5s ease-in-out;
      }       
    
        
    button{
    
        margin-top: 10px;
        padding: 8px 12px;
        font-size: 0.75em;
        background-color:black;
        color:darkgrey;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        border-right:5px;
        width: 70px;
    }
    
    button:hover{
    
        background-color: rgb(22, 13, 2);
    }
    button:focus{
    
        outline: none;
    }
    
    input{
        background-color:#B1C2D5;
        font-size: 0.75em;
        border-radius: 6px;
        padding: 5px;
        border-right:5px;
        width: 80%;
        height: 25px;
        
    }
    label{
        font-size: 0.75em;;
        border-left: 5px;
        padding: 5px;
        
    }
    select{
        background-color:#B1C2D5;
        font-size: 0.75em;
        border-radius: 6px;
        padding: 5px;
        border-right:5px;
        width: 80px;
    }
    @media (min-width: 768px) {
      select {
        width: 80%;
      }
    
    .container{
      font-style:italic;
      text-align: center;
      padding: 5px;
      background:  linear-gradient( 45deg, #edf3f5, #c8d2dd, #c4cdce, #dce3e9 );
      position:relative;
      width: 100%;
      height: 825px;
        } 
      }
.tab{
    font-style:italic;
    text-align: center;
    padding: 5px;
    background:  linear-gradient( 45deg, #edf3f5, #c8d2dd, #c4cdce, #dce3e9 );
    display:inline-block;
    position:relative;
    width: 100%;
    height: 200px;
      } 
.div2{
        font-style:italic;
        text-align:left;
        padding: 5px;
        display:inline-block;
        background:  linear-gradient( 45deg, #edf3f5, #c8d2dd, #c4cdce, #dce3e9 );
        position:relative;
        width: 100%;
        height: 850px;
          } 
         

#minhaTabela {
  font-size: 0.75em;;
  overflow-x: auto; /* Permite rolagem horizontal */
  display: grid; /* Ativando o grid layout */
  grid-template-rows: auto; /* Linha de cabeçalho e conteúdo flexíveis */
}

table {
  border-collapse: collapse;
  width: 100%; /* A tabela ocupa 100% do espaço disponível */
  display: inline-table; /* Mantém as funcionalidades de tabela */
}

thead tr {
  display: grid; /* Aplica grid ao cabeçalho */
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Colunas responsivas */
}

tbody tr {
  display: grid; /* Aplica grid ao corpo */
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)); /* Colunas responsivas */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  word-wrap: break-word; /* Evita quebras no texto */
}

th {
  text-align: center; /* Centraliza o texto */
  background-color: #249EC1; /* Fundo do cabeçalho */
  color: #333; /* Cor do texto */
  font-weight: bold;
  padding: 3px; /* Espaço interno */
}

td {
  padding: 6px; /* Espaçamento interno */
  text-align: left; /* Alinhamento do texto */
}

tr:nth-child(even) {
  background-color: #8da1a7; /* Fundo para linhas pares */
}

tr:nth-child(odd) {
  background-color: #B1C2D5; /* Fundo para linhas ímpares */
}

/* Destaca a linha quando o mouse passa por cima */
tr:hover {
  background-color: #d1ecf1; /* Cor de fundo ao passar o mouse */
}

.result {
  background-color: #249EC1; /* Fundo do cabeçalho */
  font-size: 0.75em;
}

.hidden-during-pdf {
  display: none !important;
}

* {
  box-sizing: border-box;
}

/* Força a quebra de página antes ou depois de um elemento */
.page-break {
  page-break-before: always; /* Quebra antes do elemento */
}









